<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Wall Stories</h2>
                    <h3 class="section-subheading text-muted">'Wall Stories' is a pictorial journey through the Garhwal region in the Western Himalayas. Centered around Dehradun between the rivers Ganga and Yamuna, it tells the fascinating story of the history and culture of its people through mural paintings found in the area, and the daily life that is lived around them.</h3>
				 <h3 class="section-subheading text-muted">Going from a portrait of Noor Jehan dressed as a Pahari lady, to depictions of the ‘Indar Sabha’ the first Urdu full length play, these painting from the end of the 17th to the 19th century these paintings defy the boundaries of low art and high art, religion and received history.</h3>
				  <h3 class="section-subheading text-muted">‘Wall Stories’ uses imaginary conversations, treats the subject of the paintings as living subjects and plays with its subject matter to explore the space and meaning created in the everyday lives of the people who encounter these paintings. </h3>
                </div>
            </div>
        </div>
    </section>