<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Watch the Film</h2>
                    <h3 class="section-subheading text-muted">“Wall Stories” unfolds as a series of journeys to the sites of the murals… what emerges is a fascinating history of the region and its syncretic culture.</h3>
				<p class="text-right">-Bhuddaditya Bhattacharya in <a href="http://www.thehindu.com/features/cinema/painted-on-a-wall/article5757014.ece">The Hindu</a></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Watch online</h4>
                    <p class="text-muted">Watch online, or download a DRM-free copy to your mobile device.</p>
				<p><a href="https://vimeo.com/ondemand/wallstories" class="page-scroll btn btn-xl">Watch Now!</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Buy the DVD</h4>
                    <p class="text-muted">Coming Soon! Email us to get notified when the DVD is available.</p>
				<p><a href="mailto:info@fournineandahalf.com" class="page-scroll btn btn-xl">Email Us</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Host a Screening</h4>
                    <p class="text-muted">Interested in holding a screening at a school or in your community?</p>
				<p><a href="mailto:info@fournineandahalf.com" class="page-scroll btn btn-xl">Sign Up</a></p>
                </div>
            </div>
	  </div>
    </section>